@import "tailwindcss";

@theme {
  --font-serif: Merriweather, serif;
  --font-sans: Inter, sans-serif;
  --color-paper: #fdfbf7;
}

@layer base {
  body {
    @apply bg-paper text-gray-800 font-sans;
  }
}
