@import "tailwindcss";

@theme {
  --font-serif: Merriweather, ui-serif, Georgia, serif;
  --font-sans: Inter, system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  --color-paper: #fdfbf7;
}

@layer base {
  body {
    @apply bg-paper text-gray-800 font-sans;
  }
}
